*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  color: #333;
  counter-reset: number 0;
  overflow-x: hidden;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #333;
}
img{
  width: 100%;
}

header{
  width: 100%;
  position: sticky;
  top: 0;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .9);
  z-index: 10;
}

.header-inner{
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 1rem;
}

.header-logo{
  display: block;
  width: 180px;
  margin-right: auto;
}

.header-menu{
  margin-right: 1.5rem;
}

.header-list{
  display: flex;
  gap: 1.5rem;
}

.header-btn{
  background-color: #38b6ff;
  border-radius: 0 0 0 2rem;
}

.header-btn a{
  display: block;
  padding: 1.25rem;
}

.header-btn span{
  display: inline-block;
  padding: 1em;
  margin-right: 1em;
  background-color: #fff;
  border-radius: 1em;
}



/*   body-second-container   */

.body-second-container{
  width: 100%;
  background-color: #38b6ff;
}

.main-reason-container{
  color: #fff;
  max-width: 940px;
  padding: 4.5rem 15px 60px;
  margin: 0 auto;
  text-align: center;
}

.main-reason-title{
  font-size: 2.25rem;
}

.main-reason-title span{
  font-size: 3.5rem;
}

.main-reason-text{
  width: 640px;
  font-size: 15px;
  margin: 45px auto 50px;
}

.main-reason-list{
  display: flex;
  gap: 40px 2%;
  font-size: 15px;
}

.main-reason-list li{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.main-reason-list-title{
  font-size: 1em;
  font-weight: bold;
  padding: 15px 0;
  position: relative;
}

.main-reason-list-title::before{
  position: absolute;
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  top: -.5em;
  left: 0;
  background-image: url("../imgs/check.png");
  background-size: 100% 100%;
}

.main-reason-list li:first-of-type .main-reason-list-title{
  padding: calc(15px + .75em) 0;
}

.main-reason-icon{
  padding: 15px;
  border: 10px solid #fff;
  border-radius: 1em;
}

.main-reason-list li:last-of-type .main-reason-icon{
  padding: 15px 0 0 0;
}

.main-reason-icon img{
  margin: 0 auto;
}
.main-reason-list li:nth-of-type(1) .main-reason-icon img{
  width: 88px;
  height: 80px;
}
.main-reason-list li:nth-of-type(2) .main-reason-icon img{
  width: 106px;
  height: 80px;
  padding-left: 20px;
}
.main-reason-list li:nth-of-type(3) .main-reason-icon img{
  width: 80px;
  width: 80px;
}
.main-reason-list li:nth-of-type(4) .main-reason-icon img{
  width: 116px;
  height: 96px;
  padding: 0 0 0 20px;
}



/*   body-third-container   */

.body-third-container{
  width: 100%;
  background-color: #F2F9FD;
  font-size: 15px;
  position: relative;
}

.body-third-container::after{
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-color: #F2F9FD transparent transparent transparent;
  border-width: 100px 50vw 0 50vw;
}

.third-container-inner{
  padding: 4em 1em;
  margin: 0 auto 100px;
}

.third-container-title{
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.6470588235;
  margin-bottom: 3em;
}

.third-container-title span,
.fourth-container-inner-title{
  padding: 0 .5em;
  font-size: 2.125rem;
  position: relative;
  z-index: 1;
}

.third-container-title span::after,
.fourth-container-inner-title::after{
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #A1E4FE;
  border-radius: 1rem;
}

.third-container-title span strong{
  font-size: 2.5rem;
  font-weight: bold;
}

.reasons-container{
  width: calc(100% - 30px);
  margin: 0 auto;
  max-width: 940px;
}

/* .reasons-container .third-container-half-media:not(:first-of-type){
  padding-top: 4em;
} */

.reasons-container > *+*{
  padding-top: 4em;
}

.third-container-half-media{
  display: flex;
  gap: 3%;
}

.reasons-container > .third-container-half-media:nth-of-type(even){
  flex-direction: row-reverse;
}

.third-container-media-img{
  flex: 1;
  border-radius: 2em;
  box-shadow: .5em .5em 0 #38b6ff;
}

.third-container-media-body{
  flex: 1;
}

.third-container-media-title{
  font-size: 1.5rem;
  position: relative;
  padding-left: 4.5rem;
}

.third-container-media-title::before{
  counter-increment: number 1;
  content: counter(number) "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  font-size: 5rem;
  color: #94D7FE;
}

.third-container-media-title span{
  z-index: 1;
  position: relative;
}

.third-container-media-title > span::after{
  position: absolute;
  width: calc(100% + 1rem);
  height: 1.5rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: -.5rem;
  background-color: #A1E4FE;
  border-radius: 1rem;
}

.third-container-media-text{
  font-size: 1em;
  margin-top: 1em;
}



/*   body-fourth-container   */

.body-fourth-container{
  width: 100%;
  font-size: 15px;
  margin-bottom: 2rem;
}

.fourth-container-inner{
  width: calc(100% - 30px);
  max-width: 970px;
  padding: 4em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.fourth-container-inner-title{
  width: fit-content;
  margin-bottom: 2rem;
}

.skills-container{
  width: 100%;
  display: flex;
  gap: 4%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.first-skills,
.second-skills{
  flex: 1;
}

.skills-title{
  font-size: 1.75rem;
  color: #224277;
  margin-bottom: 1rem;
}

.first-skills > ul,
.second-skills > ul{
  padding: 1rem;
  background-color: #38b6ff;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.first-skills > ul > li,
.second-skills > ul > li{
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  min-width: 35%;
  padding: 0.6em;
  margin: 0 0.5em 0.6em 0;
  color: #38b6ff;
  background-color: #fff;
  border-radius: 2em;
}

.first-skills-note{
  text-align: left;
}

.steps-container{
  width: 75%;
  border: .3em solid #39b6ff;
  border-radius: 1.5rem;
  text-align: center;
}

.steps-title{
  color: #224277;
  background-color: #f2f9fd;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: .5em 0;
}

.steps-list{
  padding: 2em;
}

.steps-list > li{
  margin: 0 auto;
  width: 70%;
  text-align: left;
}

.steps-list > li + li{
  margin-top: 1.5em;
}

.steps-list > li > span{
  display: inline-block;
  width: 25%;
  padding: .3em 0;
  margin-right: 1.5em;
  color: #38b6ff;
  background-color: #f2f9fd;
  border-radius: 1em;
  text-align: center;
}



/*   body-fifth-container   */

.body-fifth-container{
  width: 100%;
  background-color: #F2F9FD;
  font-size: 15px;
}

.fifth-container-inner{
  width: calc(100% - 30px);
  max-width: 970px;
  padding: 4em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.curriculum-container{
  width: 100%;
}

.curriculum-title{
  text-align: center;
  padding: 0 .5em;
  font-size: 2.125rem;
  margin-bottom: 5rem;
}

.curriculum-title > span{
  position: relative;
  z-index: 1;
}

.curriculum-title > span::after{
  position: absolute;
  width: calc(100% + 2rem);
  height: 2rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: -1rem;
  background-color: #A1E4FE;
  border-radius: 1rem;
}

.curriculum-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 5%;
  counter-reset: number 0;
}

.curriculum-list > li{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.curriculum-list > li::before{
  counter-increment: number 1;
  content: counter(number) "";
  display: inline-block;
  position: absolute;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1;
  font-size: 1.4rem;
  color: #fff;
  background-color: #38b6ff;
}

.curriculum-icon{
  width: 210px;
  padding: .5rem;
  border: .1em solid #38b6ff;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.curriculum-list > li > h3{
  width: 100%;
  text-align: left;
  font-size: 1rem;
  color: #38b6ff;
  line-height: 1.222;
  font-weight: 700;
  margin-bottom: 1rem;
}

.curriculum-list > li > p{
  font-size: 1em;
  line-height: 1.75;
}

.curriculum-comments-container{
  width: 100%;
  padding: 2em 3em;
  margin-top: 3em;
  background-color: #fff;
  border-radius: 3em;
}

.curriculum-comment-title{
  width: 100%;
  color: #38b6ff;
  line-height: 1.75;
  margin-bottom: 2em;
  text-align: center;
}

.comment-box{
  display: flex;
  gap: 5%;
}

.comment-content{
  flex: 1;
  color: #fff;
  padding: 2em;
  background-color: #38b6ff;
  border-radius: 2em;
}

.comment-content > h3{
  font-size: 1em;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 2px solid #fff;
  margin-bottom: .6em;
}

.comment-content > p{
  font-size: 1em;
  line-height: 2;
}



/*   body-sixth-container   */

.body-sixth-container{
  width: 100%;
  background-color: #38b6ff;
  font-size: 15px;
}

.sixth-container-inner{
  width: calc(100% - 30px);
  max-width: 970px;
  padding: 4em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.price-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-container-title{
  color: #fff;
  text-align: center;
  padding: 0 .5em;
  font-size: 2.125rem;
  margin-bottom: 5rem;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.price-container-title::after{
  position: absolute;
  width: calc(100% + 2rem);
  height: 2rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: -1rem;
  background-color: #2B72AE;
  border-radius: 1rem;
}

.course-box{
  width: 100%;
  display: flex;
  gap: 5%;
}

.course{
  font-size: 15px;
  flex: 1;
  text-align: center;
  background-color: #fff;
  border: .5em solid #fff;
  border-radius: 1.5em;
  margin-bottom: 2em;
}

.course > h3{
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #009CE6;
  border-radius: 1em 1em 0 0;
  padding: 1.2em 0 1em;
}

.course > p{
  padding: 15px 0;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course > p > span{
  background-color: #00C7ED;
  color: #fff;
  font-size: 15px;
  border-radius: 1em;
  padding: .5em 1em;
  margin-right: 1em;
}

.price-table{
  width: 760px;
  margin: 0 auto 15px;
  max-width: 100%;
}



/*   body-seventh-container   */

.body-seventh-container{
  width: 100%;
  background-color: #fff;
  font-size: 15px;
}

.seventh-container-inner{
  width: calc(100% - 30px);
  max-width: 970px;
  padding: 4em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.students-comment-title{
  text-align: center;
  padding: 0 .5em;
  font-size: 2.125rem;
  margin-bottom: 5rem;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.students-comment-title::after{
  position: absolute;
  width: calc(100% + 2rem);
  height: 2rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: -1rem;
  background-color: #A8E7FF;
  border-radius: 1rem;
}

.students-comment-box{
  width: 100%;
  display: flex;
  gap: 3%;
  font-size: 15px;
}

.student-comment{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  border: .36em solid #38b6ff;
  border-radius: 0 2em 2em 2em;
  position: relative;
}

.student-comment::before{
  position: absolute;
  content: "";
  display: inline-block;
  display: flex;
  top: -3em;
  left: -.36em;
  width: 4em;
  height: 3em;
  border-radius: 2em 2em 0 0;
  background-color: #38b6ff;
  background-image: url(../imgs/svg/voice_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.student-comment > *+*{
  margin-top: 1em;
  font-size: 1em;
}

.student-profile{
  width: 100%;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding: calc(2em / 3) 0;
  background-color: #38b6ff;
  border-radius: 2em;
}

.student-text{
  font-size: 1em;
  line-height: 2;
}

.student-icon{
  width: 110px;
  border: .36em solid #38b6ff;
  border-radius: 50%;
}



/*   body-eighth-container   */

.body-eighth-container{
  width: 100%;
  background-color: #38b6ff;
  font-size: 15px;
}

.eighth-container-inner{
  width: calc(100% - 30px);
  max-width: 970px;
  padding: 4em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.provide-title{
  color: #fff;
  text-align: center;
  padding: 0 .5em;
  font-size: 2.125rem;
  margin-bottom: 3rem;
  width: fit-content;
  z-index: 1;
}

.provide-title > span{
  position: relative;
}

.provide-title > span::after{
  position: absolute;
  width: calc(100% + 2rem);
  height: 2rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: -1rem;
  background-color: #2B72AE;
  border-radius: 1rem;
}

.provide-content{
  width: 100%;
  display: flex;
  gap: 3em 3%;
}

.provide-body{
  flex: 1;
}

.copy{
  display: flex;
  background-color: #fff;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.copy > img{
  display: block;
  padding: 1em 2em;
  width: auto;
}

.copy > p{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-weight: 700;
  color: #224277;
  border-left: 5px solid #38b6ff;
}

.provide-body > p{
  color: #fff;
  line-height: 2;
}

.provide-img{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provide-img > img{
  border-radius: 3rem;
  margin-bottom: 3rem;
  box-shadow: 10px 10px 0 #a1e3ff;
}

.provide-img a{
  width: 70%;
  text-align: center;
  color: #224277;
  font-weight: 700;
  background-color: #fff;
  padding: 1em 0;
  border-radius: 2rem;
}



/*   body-ninth-container   */

.body-ninth-container{
  width: 100%;
  background-color: #F2F9FD;
  font-size: 15px;
}

.ninth-container-inner{
  width: calc(100% - 30px);
  max-width: 970px;
  padding: 4em 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.contact-title{
  color: #333;
  text-align: center;
  padding: 0 .5em;
  font-size: 2.125rem;
  margin-bottom: 3rem;
  width: fit-content;
  z-index: 1;
  position: relative;
}

.contact-title::after{
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: -1;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #A1E4FE;
  border-radius: 1rem;
}

.ninth-container-inner > p{
  text-align: center;
  margin-bottom: 1em;
}

dt, dd{
  padding: 0;
  margin: 0;
}

.contact-table{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 2em;
}

.contact-table > dt,
.contact-table > dd{
  box-sizing: border-box;
  padding: .5em 2em;
}

.contact-table > dt{
  width: 30%;
  color: #224277;
  font-size: 1em;
  font-weight: 700;
}

.contact-table > dd{
  width: 70%;
}

.contact-table > dd > input{
  width: 100%;
  height: 1.5rem;
  border: none;
  border-radius: 1em;
}

.contact-table > dd > textarea{
  width: 100%;
  height: 4em;
  border: none;
  border-radius: 1em;
  resize: none;
}

form > button{
  display: block;
  width: 300px;
  max-width: 80%;
  text-align: center;
  padding: 1.5em 0;
  margin: 0 auto;
  color: #fff;
  background-color: #38b6ff;
  border: none;
  border-radius: 3em;
  font-weight: 700;
}



/*   footer   */

footer{
  width: 100%;
  background-color: #224277;
}

.footer-inner{
  padding: 3em 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-inner > img{
  width: auto;
  background-color: #fff;
  padding: 1em;
  border-radius: 1em;
}

.footer-inner > ul{
  display: flex;
  align-items: center;
}

.footer-inner > ul > li{
  color: #fff;
  padding-left: 2em;
}

.footer-inner > ul > li > img{
  vertical-align: middle;
  padding: .5em;
  background-color: #fff;
  border-radius: 2em;
}

footer > p{
  font-size: .7em;
  padding: 1em 0;
  color: #fff;
  text-align: center;
}